.u-block-723f-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-723f-3 {
  position: absolute;
  left: 0;
}

.u-block-723f-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 530px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1-1 .u-image-1 {
  min-height: 400px;
  background-image: url("np://user.desktop.nicepage.com/Site_1460625803/images/23581f18ff9587bbcbd2ec3cfbce4aa3df6d685c978c339270b1bd34d2cdd1c13e9aab522641cc9a5563dba7113d5945eb310c06d16844a630b2da_1280.jpg?rand=272f");
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1-1 .u-text-1 {
  line-height: 1.5;
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 49px 0 0 31px;
}

.u-section-1-1 .u-text-2 {
  margin: 43px auto 0 92px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: -23px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: -17px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 569px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: -22px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 358px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: -13px;
  }
}